<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JSFProject/src/de/tud/gdi1/dropofwater/ui/Launch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.tud.gdi1.dropofwater.ui.Launch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JSFProject"/>
</launchConfiguration>
